<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Speech Recognition Platform </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="<%= require('./images/favicon.png') %>">
</head>

<body ng-app="speechRecognition" ng-controller="MainController as ctrl" ng-init="ctrl.loadApp({mode: 'client'})"
      ng-cloak>

<nav class="navbar navbar-inverse mb-0">
    <div class="container">
        <div class="navbar-header">
            <img id="logo" src="<%= require('./images/Gecko.svg') %>" alt="Gecko">
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">Gecko</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-show="!ctrl.isImageMode">
                    <a class="audio__filename" title="{{ ctrl.audioFileName }}">
                        <b>Audio filename: </b>
                        {{ ctrl.audioFileName }}
                    </a>
                </li>
                <li class="" ng-show="!ctrl.isImageMode">
                    <a>
                        <b>Time: </b>
                        <span id="timeSpan"></span>
                    </a>
                </li>
                <li class="" ng-if="ctrl.lastDraft && ctrl.config.enableDrafts">
                    <a href="#" ng-click="ctrl.saveToDB($event)">
                        <b>Saved on: </b>
                        {{ ctrl.lastDraft }}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#" onclick="location.reload();" ng-if="!ctrl.isImageMode">
                        <i class="glyphicon glyphicon-open"></i>
                        Load
                    </a></li>
                <li class="dropdown" ng-if="ctrl.isImageMode" ng-show="ctrl.imageSrc">
                    <a href="#" ng-click="ctrl.backToImageList();">
<!--                        <i class="glyphicon glyphicon-open"></i>-->
                            Back to list
                    </a></li>
                <li class="dropdown" ng-if="!ctrl.isServerMode && !ctrl.isImageMode">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="glyphicon glyphicon-save"></i>
                        Save
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="ctrl.saveClient('rttm')">
                            RTTM
                        </a></li>
                        <li><a href="#" ng-click="ctrl.saveClient('json')">
                            JSON
                        </a></li>
                        <li><a href="#" ng-click="ctrl.saveClient('ctm')">
                            CTM
                        </a></li>
                        <li><a href="#" ng-click="ctrl.saveClient('srt')">
                            SRT
                        </a></li>
                        <li><a href="#" ng-click="ctrl.saveDiscrepancyResults()" ng-if="ctrl.discrepancies">
                            Annotations
                        </a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
                <li class="dropdown" ng-if="ctrl.isServerMode">
                    <a href="#"
                       class="dropdown-toggle" role="button"
                       ng-click="ctrl.saveS3()">
                        <i class="glyphicon glyphicon-save"></i>
                        Save
                    </a>
                </li>
                <li class="dropdown" ng-if="ctrl.isImageMode && ctrl.imageSrc">
                    <a href="#"
                       class="dropdown-toggle" role="button"
                       ng-click="ctrl.saveImageCsv()">
                        <i class="glyphicon glyphicon-save"></i>
                        Save
                    </a>
                </li>
                <li ng-show="!ctrl.isImageMode">
                    <a href="#" ng-click="ctrl.openShortcutsInfo()">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        Shortcuts
                    </a>
                </li>

                <li>
                    <a target="_blank" href="https://github.com/gong-io/gecko">github.com/gong-io/gecko</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="m-0 text-center" ng-show="ctrl.loader">
    <div class="lds-circle">
        <div></div>
    </div>
</div>

<div class="row row-eq-height justify-content-center align-self-center" ng-class="{ 'no-min-height' : !ctrl.videoMode || !ctrl.userConfig.showVideo }">
    <button type="button" class="btn btn-primary btn-sm btn-toggle-video" ng-if="ctrl.ready && ctrl.videoMode && ctrl.userConfig.showVideo" ng-click="ctrl.toggleVideo()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </button>
    <div class="col-md-3" ng-show="ctrl.videoMode && ctrl.userConfig.showVideo">
        <video id="video-js" style="margin: 0 auto;"></video>
    </div>
    <div class="btn-toggle-video" ng-if="ctrl.ready && ctrl.videoMode &&!ctrl.userConfig.showVideo">
        <button type="button" class="btn btn-primary btn-sm" tooltip-placement="right" tooltip-class="gecko-segment-labeling-tooltip"
        uib-tooltip="Video" ng-click="ctrl.toggleVideo()">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-md-{{ ctrl.videoMode && ctrl.userConfig.showVideo ? '9' : '12' }} pl-0 pr-0">
        <div id="waveform" ng-show="ctrl.userConfig.showWaveform" context-menu="regionContextMenu" app="ctrl">
            <p class="floating-filename top-float" ng-show="ctrl.ready" ng-if="ctrl.filesData.length == 2">{{ctrl.filesData[0].filename.substring(0, ctrl.filesData[1].filename.lastIndexOf("."))}}</p>
            <p class="floating-filename bottom-float" ng-show="ctrl.ready" ng-if="ctrl.filesData.length == 2">{{ctrl.filesData[1].filename.substring(0, ctrl.filesData[1].filename.lastIndexOf("."))}}</p>
        </div>
        <div id="timeline" ng-show="ctrl.userConfig.showWaveform"></div>
        <div class="row" ng-show="ctrl.ready && !ctrl.userConfig.showWaveform">
            <mini-player parent="ctrl"></mini-player>
        </div>
    </div>
</div>

<div ng-if="ctrl.isImageMode">
    <image-table ng-if="!ctrl.imageIndex && !ctrl.imageSrc" parent="ctrl"></image-table>
    <image-view ng-if="ctrl.imageSrc" parent="ctrl"></image-view>
</div>

<div class="wrapper" ng-show="ctrl.ready">
    <div id="zoom" class="row" style="margin-bottom: 2em; margin-top: 1em;" ng-show="ctrl.userConfig.showWaveform">
        <div class="col-md-1">
            <i class="glyphicon glyphicon-zoom-out glyphicon-large pull-right"></i>
        </div>

        <div class="col-md-7">
            <input id="zoomSlider" ng-model="ctrl.zoomLevel" ng-model-options="{ debounce: 200 }" type="range" min="1"
                   max="{{ ctrl.maxZoom }}"
                   class="full-width"
                   tooltip-placement="top"
                    uib-tooltip="Zoom level: {{ ctrl.zoomLevel }}"
                    tooltip-class="gecko-zoom-tooltip"
                    tooltip-is-open="ctrl.zoomTooltipOpen"/>
        </div>

        <div class="col-md-1">
            <i class="glyphicon glyphicon-zoom-in glyphicon-large"></i>
        </div>

        <div class="col-md-1">
            <i class="glyphicon glyphicon-volume-down glyphicon-large pull-right"></i>
        </div>

        <div class="col-md-1">
            <input id="slider" ng-model="ctrl.currentGainProc" type="range" min="{{ ctrl.minGainProc }}"
                    class="volume-slider full-width"
                    max="{{ ctrl.maxGainProc }}"
                    tooltip-placement="top"
                    uib-tooltip="Volume: {{ ctrl.currentGainProc }}"/>
            <!--            <div class="text-center">-->
            <!--                <b>Zoom level:</b> {{ ctrl.zoomLevel }}-->
            <!--            </div>-->
        </div>

        <div class="col-md-1">
            <i class="glyphicon glyphicon-volume-up glyphicon-large"></i>
        </div>
    </div>

    <div id="wavespectrogram" ng-show="ctrl.ready && ctrl.showSpectrogram && ctrl.userConfig.showWaveform"></div>

    <div id="file-data" class="text-center">
    </div>

    <div class="row text-center" style="margin-bottom: 2em; margin-top: 2em">
        <div class="col-md-12">
            <button class="btn btn-primary" ng-show="!ctrl.isPlaying" ng-click="ctrl.playPause()">
                <i class="glyphicon glyphicon-play"></i>
                Play
            </button>
            <button class="btn btn-primary" ng-show="ctrl.isPlaying" ng-click="ctrl.playPause()">
                <i class="glyphicon glyphicon-pause"></i>
                Pause
            </button>

            <button class="btn btn-primary" ng-click="ctrl.playRegion()" ng-dblclick="ctrl.playRegionFromCurrentTime()">
                <i class="glyphicon glyphicon-play"></i>
                Play Segment
            </button>

            <button class="btn btn-default" ng-click="ctrl.zoomIntoRegion()"
                    title="Zoom to Segment"
                    ng-disabled="!ctrl.selectedRegion || ctrl.proofReadingView || !ctrl.userConfig.showWaveform">
                    <i class="glyphicon glyphicon-zoom-in"></i>
            </button>

            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="playback-speed" type="button" class="btn btn-default" uib-dropdown-toggle>
                    x{{ ctrl.currentPlaybackSpeed }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="playback-speed"
                    title="Set the play speed">
                    <li role="menuitem" ng-repeat="speed in ctrl.playbackSpeeds">
                        <a href="#" ng-click="ctrl.setPlaybackSpeed(speed)">x{{ speed }}
                            <i ng-show="speed == ctrl.currentPlaybackSpeed" class="glyphicon glyphicon-ok"></i>
                        </a>
                    </li>
                </ul>
            </div>


            <button class="btn btn-default" ng-click="ctrl.toggleAutoCenter()"
                    title="Determines whether to auto-scroll the timeline so that the current time is always centered">
                <i class="glyphicon glyphicon-screenshot"></i>
                Auto Center
            </button>

            <button class="btn btn-default" ng-click="ctrl.splitSegment()"
                    title="Split Segment"
                    ng-disabled="!ctrl.selectedRegion || ctrl.selectedRegion != ctrl.cursorRegion">
                <i class="glyphicon glyphicon-scissors"></i>
            </button>

            <button class="btn btn-default" ng-click="ctrl.deleteRegionAction(ctrl.selectedRegion)"
                    title="Delete Segment"
                    ng-disabled="!ctrl.selectedRegion || ctrl.selectedRegion != ctrl.cursorRegion">
                <i class="glyphicon glyphicon-trash"></i>
            </button>

            <button class="btn btn-default" ng-click="ctrl.insertDummyRegion()" ng-disabled="!ctrl.dummyRegion"
                    title="Insert dummy region"
                    data-toggle="tooltip" data-placement="top">
                <i class="glyphicon glyphicon-pushpin"></i>
                Insert
            </button>


            <button class="btn btn-default" ng-click="ctrl.historyService.undo(ctrl)" ng-disabled="!ctrl.historyService.undoStack.length"
                    title="Undo the last operation"
                    data-toggle="tooltip" data-placement="top">
                <i class="glyphicon glyphicon-share-alt" style="transform: scaleX(-1);"></i>
                Undo
            </button>

            <button class="btn btn-default" ng-click="ctrl.toggleSpectrogram()"
                    title="Show/hide Spectrogram"
                    ng-if="ctrl.showSpectrogramButton"
                    data-toggle="tooltip" data-placement="top">
                <i class="glyphicon glyphicon-stats"></i>
                Toggle Spectrogram
            </button>

            <button class="btn btn-default" ng-click="ctrl.toggleProofReadingView()" ng-if="!ctrl.onlyProofreading"
                    title="Show/hide Proofreading View"
                    data-toggle="tooltip" data-placement="top">
                <i class="glyphicon glyphicon-list-alt"></i>
                Proofreading View
            </button>

            <button class="btn btn-primary" ng-click="ctrl.toggleWaveform()"
                    ng-if="ctrl.userConfig.showWaveform&&!ctrl.onlyProofreading"
                    title="Toggle waveform">
                <i class="glyphicon glyphicon-resize-small"></i>
            </button>

            <button class="btn btn-primary" ng-click="ctrl.toggleWaveform()"
                    ng-if="!ctrl.userConfig.showWaveform&&!ctrl.onlyProofreading"
                    title="Toggle waveform"
                    style="margin-left: 1rem;">
                <i class="glyphicon glyphicon-resize-full"></i>
            </button>

            <button class="btn btn-primary" ng-click="ctrl.toggleSearchBar()"
                    title="Toggle search">
                <i class="glyphicon glyphicon-search"></i>

            </button>

        </div>
    </div>

    <div class="row" style="margin-top: 1em; margin-bottom: 1em; position: relative;">
        <!--        <div class="col col-md-3" ng-hide="ctrl.discrepancies">-->
        <!--            <div class="panel panel-default">-->
        <!--                <div class="panel-heading">-->
        <!--                    <h3 class="panel-title">-->

        <!--                    </h3>-->
        <!--                </div>-->
        <!--                <div class="panel-body">-->
        <!--                    <dl class="dl-horizontal">-->
        <!--                        <dt>Selected File</dt>-->
        <!--                        <dd>{{ ctrl.filesData[ctrl.selectedFileIndex].filename }}</dd>-->

        <!--                        <div ng-show="ctrl.selectedRegion">-->
        <!--                            <dt>Segment Time</dt>-->
        <!--                            <dd>{{ctrl.selectedRegion.start | number : 2}} - {{ctrl.selectedRegion.end | number : 2}}-->
        <!--                            </dd>-->
        <!--                            <dt>Segment Length</dt>-->
        <!--                            <dd>{{ ctrl.selectedRegion.end - ctrl.selectedRegion.start | number : 2}}</dd>-->
        <!--                        </div>-->

        <!--                        <div ng-hide="ctrl.selectedRegion">-->
        <!--                            <dt>Silence Time</dt>-->
        <!--                            <dd>{{ ctrl.silence.start | number : 2}} - {{ ctrl.silence.end | number : 2}}</dd>-->
        <!--                            <dt>Silence Length</dt>-->
        <!--                            <dd>{{ ctrl.silence.end - ctrl.silence.start | number : 2}}</dd>-->
        <!--                        </div>-->
        <!--                    </dl>-->

        <!--                    <hr class="half-rule">-->

        <!--                    <div>-->
        <!--            <textarea ng-disabled="!ctrl.selectedRegion" class="form-control" rows="3"-->
        <!--                      ng-model="ctrl.selectedRegion.data.text"-->
        <!--                      placeholder="Edit the text of the segment..."-->
        <!--                      ng-blur="ctrl.textareaBlur()" ng-change="ctrl.textChanged()">-->
        <!--            </textarea>-->

        <!--                        <hr class="half-rule">-->
        <!--                    </div>-->

        <!--                    <div ng-show="ctrl.EDER">-->
        <!--                        <div>-->
        <!--                            Confusion: {{ ctrl.EDER.confusion | number : 2}} ({{ ctrl.EDER.confusion /-->
        <!--                            ctrl.EDER.total_speech_time |-->
        <!--                            number:2}}%)-->
        <!--                        </div>-->
        <!--                        <div>-->
        <!--                            False Alarm: {{ ctrl.EDER.false_alarm | number : 2}} ({{ ctrl.EDER.false_alarm /-->
        <!--                            ctrl.EDER.total_speech_time|-->
        <!--                            number:2}}%)-->
        <!--                        </div>-->
        <!--                        <div>-->
        <!--                            Missed: {{ ctrl.EDER.missed | number : 2}} ({{ ctrl.EDER.missed /-->
        <!--                            ctrl.EDER.total_speech_time|-->
        <!--                            number:2}}%)-->
        <!--                        </div>-->
        <!--                        <div>-->
        <!--                            Correct: {{ ctrl.EDER.correct | number : 2}} ({{ ctrl.EDER.correct /-->
        <!--                            ctrl.EDER.total_speech_time|-->
        <!--                            number:2}}%)-->
        <!--                        </div>-->
        <!--                        <div>-->
        <!--                            DER: {{ ctrl.EDER.DER | number : 2}} ({{ ctrl.EDER.DER / ctrl.EDER.total_speech_time|-->
        <!--                            number:2}}%)-->
        <!--                        </div>-->
        <!--                        <div>-->
        <!--                            Total Speech Time: {{ ctrl.EDER.total_speech_time| number:2}}s-->
        <!--                        </div>-->
        <!--                        <div>-->
        <!--                            Mapping: {{ ctrl.EDER.map }}-->
        <!--                        </div>-->

        <!--                        <div>-->
        <!--                            Segmentation: {{ ctrl.segmentation }}-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->


        <!--            </div>-->
        <!--        </div>-->

        <div class="" style="position: absolute; z-index: 1;" ng-if="!ctrl.userConfig.showSegmentLabeling">
            <button type="button" class="btn btn-primary btn-sm" tooltip-placement="right" tooltip-class="gecko-segment-labeling-tooltip"
            uib-tooltip="Segment Labeling" ng-click="ctrl.toggleSegmentLabeling()">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col col-md-3 segment-labeling"
        ng-if="ctrl.userConfig.showSegmentLabeling"
        ng-class="{stretched: !ctrl.userConfig.showSegmentLabeling || (ctrl.discrepancies && !ctrl.userConfig.showTranscriptDifferences)}">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex; justify-content: space-between; align-items: center;">
                    <h3 class="panel-title">
                        Segment Labeling
                    </h3>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.toggleSegmentLabeling()">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <div ng-show="ctrl.selectedRegion">
                        <dt>Segment Time: {{ctrl.selectedRegion.start | number : 2}} - {{ctrl.selectedRegion.end |
                            number : 2}}
                            ({{ ctrl.selectedRegion.end - ctrl.selectedRegion.start | number : 2}}s)
                        </dt>
                    </div>

                    <div ng-hide="ctrl.selectedRegion">
                        <dt>Silence Time: {{ ctrl.silence.start | number : 2}} - {{ ctrl.silence.end | number : 2}}
                            ({{ ctrl.silence.end - ctrl.silence.start | number : 2}}s)
                        </dt>
                    </div>
                    <div class="text-align-left" style="text-align: left" ng-disabled="!ctrl.selectedRegion || ctrl.selectedRegion.data.isDummy">
                        <div class="form-group">
                            <div class="annotation-label" style="display: flex; justify-content: space-between; padding: 0; background-color:{{ speaker.color + 80 }};"
                                 ng-repeat="speaker in ctrl.filesData[ctrl.selectedFileIndex].legend">
                                <label style="margin: 0; padding: 3px 10px 1px; width: 100%;">
                                    <input type="checkbox"
                                           value="{{speaker.display}}"
                                           ng-checked="ctrl.selectedRegion.data.speaker.indexOf(speaker.value) > -1"
                                           ng-click="ctrl.speakerChanged(speaker)"
                                           ng-disabled="!ctrl.selectedRegion || ctrl.selectedRegion.data.isDummy"
                                           class="mb-0">
                                    <span ng-if="speaker.isDefault" class="speaker-legend">{{ speaker.shortcut }}.{{ speaker.display }}</span>
                                    <span ng-if="!speaker.isDefault" editable
                                          changed="ctrl.speakerNameChanged(speaker, oldText,newText)"
                                          ng-model="speaker.value"
                                          title="{{speaker.value}}"
                                    class="speaker-legend">
                                    </span>
    <!--                                <div class="pull-right">-->
    <!--                                    <play-part representative="ctrl.filesData[ctrl.selectedFileIndex].reps[speaker.value]"></play-part>-->
    <!--                                    <input type="color" ng-model="speaker.color" class="pull-right"-->
    <!--                                          ng-change="ctrl.changeSpeakerColor(ctrl.selectedFileIndex, speaker.value, speaker.color)"/>-->
    <!--                                </div>-->
                                </label>
                                <div class="btn-group dropdown pull-right" uib-dropdown auto-close="outsideClick" style="padding: 5px 10px 1px;" is-open="status['isopen_'+speaker.value]">
                                    <a href uib-dropdown-toggle><i class="glyphicon glyphicon-option-horizontal" style="cursor: pointer; color: #666666;"></i></a>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" >
                                        <li role="menuitem" class="dropdown-item">
                                            <a class="dropdown-item">
                                                <b>Options</b>
                                            </a>
                                        </li>
                                        <li role="menuitem" class="dropdown-item">
                                            <a class="dropdown-item">
                                                <play-part representative="ctrl.filesData[ctrl.selectedFileIndex].reps[speaker.value]" label="speaker.value"></play-part>
                                            </a>
                                        </li>

                                        <li role="menuitem">
                                            <span class="dropdown-item flex space-between">
                                                <span style="margin-right:5px;"> Change color</span>
                                                    <input type="color" ng-model="speaker.color"
                                                           class="primary-color"
                                                           style="cursor:pointer;"
                                                           ng-change="ctrl.changeSpeakerColor(ctrl.selectedFileIndex, speaker.value, speaker.color)">
                                            </span>
                                        </li>
                                        <li class="divider dropdown-divider" ng-if="!speaker.isDefault"></li>
                                        <li role="menuitem"
                                            ng-if="!speaker.isDefault && !otherSpeaker.isDefault && otherSpeaker != speaker"
                                            ng-repeat="otherSpeaker in ctrl.filesData[ctrl.selectedFileIndex].legend"
                                            ng-click="status['isopen_'+speaker.value] = false; ctrl.mergeSpeakerLabel(speaker, otherSpeaker);">
                                            <a class="dropdown-item flex space-between" href="#">
                                                <span style="margin-right:5px; ">Merge with</span>
                                                <span class="merge-label" style="background-color:{{ otherSpeaker.color + 80 }}">{{otherSpeaker.value}}</span>
                                            </a>
                                        </li>
                                        <li class="divider dropdown-divider"  ng-if="!speaker.isDefault"></li>
                                        <li role="menuitem" ng-if="!speaker.isDefault" ng-click="status['isopen_'+speaker.value] = false; ctrl.deleteSpeakerLabel(speaker);">
                                            <a class="dropdown-item flex space-between" href="#" >Delete</a>
                                        </li>
                                      </ul>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label class="annotation-label">
                                Add a new speaker:
                                <input type="text" ng-model="ctrl.newSpeakerName"
                                       ng-keyup="ctrl.newSpeakerKeyUp($event)">
                                <button ng-click="ctrl.addSpeaker()" class="btn btn-link"
                                        ng-disabled="!ctrl.newSpeakerName">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="" style="position: absolute; z-index: 1;" ng-style="!ctrl.userConfig.showSegmentLabeling && { 'top' : '32px' }" ng-if="ctrl.discrepancies && !ctrl.userConfig.showTranscriptDifferences">
            <button type="button" class="btn btn-primary btn-sm" tooltip-placement="right" tooltip-class="gecko-segment-labeling-tooltip"
            uib-tooltip="Transcript differences" ng-click="ctrl.toggleTranscriptDifferences()">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>

        <div class="col col-lg-3 col-md-6 segment-text"
         ng-if="ctrl.discrepancies && ctrl.userConfig.showTranscriptDifferences"
         ng-class="{stretched: !ctrl.userConfig.showSegmentLabeling || (ctrl.discrepancies && !ctrl.userConfig.showTranscriptDifferences)}">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex; justify-content: space-between; align-items: center;">
                    <h3 class="panel-title">
                        Transcript differences
                    </h3>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.toggleTranscriptDifferences()">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <comparsion
                        parent="ctrl"
                        discrepancies="ctrl.discrepancies">
                    </comparsion>
                </div>
            </div>
        </div>

        <div ng-repeat="file in ctrl.filesData track by $index">
            <div class="col col-md-{{ctrl.transcriptPanelSize}} segment-text"
                    ng-show="!ctrl.proofReadingView"
                    ng-if="ctrl.userConfig.showTranscriptFiles[file.filename]"
                    ng-class="{stretched: !ctrl.userConfig.showSegmentLabeling || (ctrl.discrepancies && !ctrl.userConfig.showTranscriptDifferences)}">
                <div class="panel panel-default" ng-class="{'selected-file': $index === ctrl.selectedFileIndex}">
                    <div class="panel-heading" style="display: flex; justify-content: space-between; align-items: center;">
                        <h3 class="panel-title transcript__filename" title="{{ file.filename }}">File: {{ file.filename }}</h3>
                        <search-bar ng-show="ctrl.searchBarView"></search-bar>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.toggleTextPanel(file.filename)" style="margin-right: 16px;">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="panel-body" style="min-height:350px; max-height: 350px;overflow-y: scroll;">
                        <p ng-if="!ctrl.currentRegions[$index].data.isDummy"><b style="word-break: break-all;">{{ ctrl.currentRegions[$index].data.speaker | speakersFilter
                            }}</b></p>
                        <p ng-if="ctrl.currentRegions[$index].data.isDummy"><b style="word-break: break-all;">Dummy Region</b></p>
                        <!--                <p ng-show="ctrl.currentRegions[$index]">Time: {{ctrl.currentRegions[$index].start | number : 2}} - {{ctrl.currentRegions[$index].end | number : 2}}-->
                        <!--                    ({{ ctrl.currentRegions[$index].end - ctrl.currentRegions[$index].start | number : 2}})</p>-->
                        <editable-words
                            ng-show="ctrl.currentRegions[$index] && !ctrl.currentRegions[$index].data.isDummy"
                            region="ctrl.currentRegions[$index]"
                            file-index="$index"
                            class="editable-words"
                            control="ctrl"
                        >
                        </editable-words>
                    </div>
                </div>
            </div>
        <div ng-if="!ctrl.userConfig.showTranscriptFiles[file.filename]" class="" style="position: absolute; z-index: 1; right: 0; top: {{$index * 32}}px">
                <button type="button" class="btn btn-primary btn-sm" tooltip-placement="left" tooltip-class="gecko-segment-labeling-tooltip"
                uib-tooltip="Transcript of file #{{ $index + 1 }}" ng-click="ctrl.toggleTextPanel(file.filename)">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    {{ $index + 1 }}
                </button>
            </div>
        </div>

        <div class="col col-md-{{ctrl.transcriptPanelSize}} segment-text"
             ng-show="ctrl.proofReadingView && ctrl.userConfig.showTranscriptFiles[file.filename]"
             ng-class="{stretched: !ctrl.userConfig.showSegmentLabeling || (ctrl.discrepancies && !ctrl.userConfig.showTranscriptDifferences)}"
             ng-repeat="file in ctrl.filesData track by $index">
             <div class="panel panel-default" ng-class="{'selected-file': $index === ctrl.selectedFileIndex}">
                <div class="panel-heading" style="display: flex; justify-content: space-between; align-items: center;">
                    <h3 class="panel-title">File: {{ file.filename }}</h3>
                    <search-bar ng-show="ctrl.searchBarView" ></search-bar>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.toggleTextPanel(file.filename)" style="margin-right: 16px;">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="panel-body" style="min-height:650px; max-height: 650px;overflow-y: scroll;">
                    <proof-reading-view
                        regions="ctrl.mergedRegions[$index]"
                        selected-region="ctrl.selectedRegion"
                        file-index="$index"
                    >
                    </proof-reading-view>
                </div>
             </div>
            </div>
        </div>
    </div>
</div>

<ul id="regionContextMenu" class="dropdown-menu" role='menu'>
    <li ng-repeat="speaker in ctrl.filesData[ctrl.contextMenuFileIndex].legend">
        <a class="region-context-menu__button" ng-click="ctrl.contextMenuSpeakerClicked(speaker, $event)">
            <input type="checkbox"
                    value="{{speaker.display}}"
                    ng-checked="ctrl.contextMenuRegion.data.speaker.indexOf(speaker.value) > -1"
                    ng-click="ctrl.contextMenuSpeakerClicked(speaker, $event)"
                    style="margin-bottom: 0px">
            <span ng-if="speaker.isDefault" class="speaker-legend">{{ speaker.shortcut }}.{{ speaker.display }}</span>
            <span title="{{speaker.value}}" class="speaker-legend" ng-if="!speaker.isDefault">{{ speaker.value }}</span>
        </a>
    </li>
</ul>

<!--<script type="text/ng-template" id="selectAudioModal.html">-->
<!--   -->
<!--</script>-->

<a id="downloadAnchorElem" style="display:none"></a>

<toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'time-out': 2000}"></toaster-container>

<script type="text/javascript" src="js/jquery.min.js"></script>

</body>

</html>
